{% if paginator.total_pages > 1 %}
<div class="pagination">
    <div class="page_number">
        {% if paginator.previous_page and paginator.previous_page != 1%}
        <!-- << -->
        <a aria-label="{{ site.data.language.str_previous_page | default: 'Prev' }}" href="{{ '/' | relative_url }}">
            <i class="fa fa-angle-double-left"></i>
        </a>
        {% endif %}
        
        <!-- < previous -->
        <a 
            aria-label="{{ site.data.language.str_previous_page | default: 'Prev' }}" 
            href="{{ paginator.previous_page_path | relative_url }}"
            {% unless paginator.previous_page %}style="visibility:hidden"{% endunless %}
        >
            <i class="fa fa-chevron-left"></i>
            {{ site.data.language.str_previous_page | default: "Prev" }}
        </a>
        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <span class="webjeda">{{ page }}</span>
            {% elsif page == 1 %}
                <a href="/">{{ page }}</a>
            {% else %}
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        <!-- next > -->
        <a aria-label="{{ site.data.language.str_next_page | default: 'Next' }}" href="{{ paginator.next_page_path | relative_url }}"
            {% unless paginator.next_page %}style="visibility:hidden"{% endunless %}>
            {{ site.data.language.str_next_page | default: "Next" }}
            <i class="fa fa-chevron-right"></i>
        </a>
 
         {% if paginator.next_page and paginator.next_page != paginator.total_pages %}
         <!-- >> -->
         <a aria-label="{{ site.data.language.str_next_page | default: 'Next' }}"
         href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}">
             <i class="fa fa-angle-double-right"></i>
         </a>
         {% endif %}
    </div>
</div>
{% endif %}
