.pagination a, .pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {    
  &:hover {
      background-color: #f1f1f1;
      color: #333;
  }
}

/* --- Pagination --- */
.pagination {
  @extend %padding-nav;
  display: inline-block;
  text-align: center;
  //margin-bottom: 2em;
  width: 100%;
  clear: both;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .page_number {
    display: inline-block;
    vertical-align: sub;

    @media (max-width: $x-sm-break) {
      display: none;
    }
  }

}
